.postFormContainer {

    background: rgb(12,93,103);
    background: linear-gradient(196deg, rgba(12,93,103,1) 19%, rgba(24,21,79,1) 93%); 
    width: calc(48%); /* subtract 20 pixels of padding on each side */
    /*min-height: 700px*/ ; /* subtract 20 pixels of padding on each side */
    height: auto;
    padding-left: 20px; /* add padding to the inside of the div */
    padding-right: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    overflow-y: scroll; /* add this to enable scrolling */
    align-self: flex-start;
    margin-top: calc(10%);
    margin-bottom: calc(10%);
}  

.postHeader{
   
    width: calc(100%);
}
.grein{
    height: auto;
    width: 100%;
}

.editor-area{
    margin-top: 6rem;
    background: whitesmoke;
    opacity: 95%;
    flex: 1;
}
.ql-container {
    min-height: 25.5rem;

    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: black;
}
.ql-editor {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    width: 100%;
}
.postFooter{
    min-height: 6rem;
    position: relative;
    display: flex;
    align-items: center; /* To center the boxes horizontally */
}



.postButton{
    opacity: 75%;
    position: absolute;
    right: 0;
    background-color: #22BAFC;
    border-radius: 25px;
    height: 40px;
    width: calc(16%);
    min-width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.postButton p{
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    color: white;
}
.postButton:hover{
    opacity: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
