[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
uuid = "*"
datetime = "*"
sendgrid = "*"
pyyaml = "*"
pillow = "*"
werkzeug = "*"
flask_login = "*"

[dev-packages]

[requires]
