{% extends 'base.html' %}


{% block head %}
        <title>{{ art_dict['yvirskrift'] }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='article.css') }}">
{% endblock %}


{% block header %}
            <h1>Lesarabræv </h1>
            <a href="/">Heim</a><br>
{% endblock %}


{% block content %}
<div class="art">
    <div class="art-header">
        <div class="art-date">
            <p>{{ art_dict['date_string'] }}</p>
        </div>
        <div class="art-info">
            <h1>{{ art_dict['yvirskrift'] }}</h1>
            <div class="art-names">
                {% if art_dict['fornavn'] %}
                <p>{{ art_dict['fornavn'] }} {% if art_dict['efturnavn'] %}{{ art_dict['efturnavn'] }}{% endif %}</p>
                {% endif %}
                {% if art_dict['stovnur'] %}
                <p>{{ art_dict['stovnur'] }}</p>
                {% endif %}
            </div>
            
        </div>
            
        <div class="art-picture">
            {% if art_dict["picture_path"] %}
            <img src="{{ url_for('static', filename='uploads/' + art_dict['picture_path']) }}" alt="{{  fornavn  }} {{ efturnavn }}">
            {% else %}
            {% endif %}
        </div>

    </div>
    <hr style="margin: 0px 1em; border: 1px solid grey; border-radius: 1em; background-color: gray;">
    <div class="art-body">
        {{ art_dict['skriv'] | safe }}
    </div>
</div>

{% endblock %}