<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" class="favicon" href="{{ url_for('favicon') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
        <meta charset="UTF-8">
        <meta http-equiv="cache-control" content="no-cache" />
    {% block head %}
    {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <div class="main-header">
                    <div class="logo-large">
                        <a href="/">
                            <img src="{{ url_for('static', filename='logo-large.png') }}" alt="Skriva Inn logo">
                        </a>
                    </div>
                    {% block header %}
                    {% endblock %}
                    {% if authenticated %}
                    <form action="/profilur">
                        <button class="button-17" role="button">{{  initials  }}</button>
                    </form>
                    {% else %}
                    <div class="login-small">
                        <a href="/ritainn">
                            <img src="{{ url_for('static', filename='login-small.png') }}">
                        </a>        
                    </div>
                    {% endif %}
                </div>
            </nav>

        </header>
        <div class="main">
            <aside class="left">
                {% block left %}
                {% endblock %}
            </aside>
            <main>
                {% block content %}
                {% endblock %}
            </main>
            <aside class="right">
                {% block right %}
                    
                {% endblock %}
            </aside>
        </div>
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>
