<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>HTML 5 Boilerplate</title>
    </head>
    <body>
        <h1>This page is for debugging </h1>
        <h4 href="/skriva">Skriva lesarabræv</h4>

        <div>
            <ul>
                {% for key, value in art_dict.items() %}
                <li><b>{{ key }}:</b> {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        {% if picture_path %}
        <p>The uploaded picture</p>
        <img src="{{ url_for('static', filename='uploads/' + picture_path) }}" alt="{{  fornavn  }} {{ efturnavn }}">
        {% else %}
        <p>No picture was added</p>
        {% endif %}



    </body>
</html>

