{% extends 'base.html' %}

{% block head %}
        <title>Perspektiv | Veggur</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='article.css') }}">
{% endblock %}


{% block header %}
                    <div class="button-container">
                        <form action="/skriva">
                            <button class="button-17" role="button">skriva</button>
                        </form>
                    </div>
{% endblock %}



{% block content %}
{% include "base-prev.html" %}
                <div class="floatingBox-Placeholder" id="placeholder"></div>
                <script src="{{ url_for('static', filename='onBottom.js') }}"></script>
                <script src="{{ url_for('static', filename='click-floatingBox.js') }}"></script>
{% endblock %}
