{% extends 'base.html' %}

{% block head %}
        <title>Profilur</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='ritainn.css') }}">
{% endblock %}

{% block left %}
{% endblock %}


{% block content %}
<a href="{{ url_for('um_meg') }}">Um meg</a>
{% if art %}
<div class="previous-articles">
    <table>
        <tr>
            <th>Yvirskrift</th>
            <th>Dato</th>
        </tr>
{% for key, value in art.items() %}
        <tr>
            <th>{{ art[key]['yvirskrift'] }}</th>
            <th>{{ art[key]['created_stamp']}}</th>
        </tr>
{% endfor %}
    </table>
</div>
{% else %}
{% endif %}
{% endblock %}



