{% extends 'base.html' %}

{% block head %}
        <title>Upprætta</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
{% endblock %}

{% block content %}
<div class="main-register">
<form action="" method = "POST">
    <p>Post Addressa <input type = "email" name = "email" /></p>
    <p>Fornavn <input type = "fornavn" name = "fornavn" /></p>
    <p>Efturnavn <input type = "efturnavn" name = "efturnavn" /></p>
    <p>Telefon nummar <input type = "text" name = "telefon" /></p>
    <p>Loyniorð<input type = "password" name = "password" /></p>
    <p>Upprætta<input type = "submit" value = "Submit" /></p>
</form>

<h3>Hevur tú longu konto?</h3><br>
<h3><a href ="{{url_for('login')}}">Rita inn</a></h3>
</div>

{% endblock %}