{% extends 'base.html' %}

{% block head %}
        <title>Profilur</title>
        <link rel="stylesheet" href="{{ url_for('user.static', filename='brukari.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="{{ url_for('content.static', filename='article.css') }}">
{% endblock %}

{% block left %}
{% endblock %}




{% block banner %}



<div class="banner">
</div>

{% endblock %}

{% block content %}

<div class="brukari">
    <div class="brukari-content">
        <div class="profile-picture">
            {% if user.picture_path %}
            <img src="{{ url_for('static', filename='uploads/' + 'large-' + user.picture_path) }}" alt="">
            {% else %}
            <img src="{{ url_for('static', filename='login.png') }}" alt="">
            {% endif %}
        </div>
        <div class="tekstur">
            <div class="navn">
                {% if user.fornavn %}
                <p>{{ user.fornavn }} {% if user.efturnavn %}{{ user.efturnavn }}{% endif %}</p>
                {% endif %}
            </div>
            <div class="vangi">
                <a href="/@{{user.vangi}}">@{{ user.vangi }}</a>
            </div>

            {% if user.stovnur %}
            <div class="identity">
                <p>{{ user.stovnur }}</p>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="fylg-container">
        <button class="fylg-knappur">Fylg Mær</button>
        <div class="stats-container">
            <div class="fylgjarir">
                <p>5 Fylgjarir</p>
            </div>
            <div class="vertical-line"></div>
            <div class="fylgir">
                <p>10 Fylgir</p>
            </div>
        </div>
    </div>
</div>
{% if user_owner %}
<div class="post">
    <img src="{{ url_for('user.static', filename='pluss.png')}}"></img>
</div>
<script src="{{ url_for('post.static', filename='vel-postform.js') }}"></script>
{% endif %}
{% if art %}
{% include "base-prev.html" %}
                <div class="floatingBox-Placeholder" id="placeholder"></div>
                <script src="{{ url_for('content.static', filename='onBottom.js') }}"></script>
                <script src="{{ url_for('content.static', filename='click-floatingBox.js') }}"></script>
{% endif %}
{% endblock %}



