.main-skriva {
    width: 94%;
    margin: 0 auto;
}

input {  
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    outline: none;
    font-size: 18;
}

.editor-area{
    background: white;
}
.ql-container {
    min-height: 30rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 20px
}

.ql-editor {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    width: 100%;
}