.main-um_meg {
    background-color: #f0ebeb;
    padding: 20px;
    border: 2px solid #ccc;
    width: 94%;
    margin: 0 auto; /* set the left and right margins to auto */
    box-sizing: border-box  
}  

.edit {
    transition: background-color 0.1s ease;
    display: flex;
    justify-content: space-between;
}
.edit, .edit-open {
    border: 1px solid #383535;
    padding: 20px;

}
.edit:hover{
    background-color: #6b6868;
}
span {
    display: inline;
}
.edit-item {
    font-weight: bold;
}
.edit-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
#large-image-preview {
    max-height:300px;
    max-width:300px;
    height:auto;
    width:auto;
    border-radius: 25%
}
#mynd {
    display: flex;
    justify-content: space-between;
}
.knappar{
    display: flex;
}
.closeKnappurdiv {
    margin-left: 2%;
}