.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.main-velPost {
  background: rgb(57,62,63);
  background: linear-gradient(30deg, rgba(57,62,63,1) 21%, rgba(87,92,93,1) 71%); 
  width: calc(48%); /* subtract 20 pixels of padding on each side */
  height: 500px ; /* subtract 20 pixels of padding on each side */
  padding: 20px; /* add padding to the inside of the div */
  /*border: 1px solid black;*/
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.vel-header {
width: 100%;
height: calc(100% / 2);
justify-content: center;
align-items: center;
display: flex;
}
.vel-header h1{
font-family: Tahoma, sans-serif;
text-align: center
}

.val {
width: calc(40%);
height: calc(90% / 2);
background-color: #22BAFC;
border-radius: 20px;
margin: 15px;
opacity: 75%;
margin-bottom:  20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
justify-content: center;
align-items: center;
display: flex;
cursor: pointer;
}

.val p{
opacity: 100%;
font-weight: bold;
font-family: Tahoma, sans-serif;
font-size: 40px;  
}

.val:hover,
.val:hover{
opacity: 100%;
}

.post-exit{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  height: 40px;
  width: calc(16%);
  min-width: 125px;
  background-color: rgb(57, 62, 63);
  opacity: 90%;
  margin: 10px;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-exit:hover{
  opacity: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
